.servicess:hover .icon{
    top: 45%;
    background-color: #FAD105;
}

#Data:checked ~ p {
    display: block;
  }
#How:checked ~ p {
    display: block;
  }
#challenge:checked ~ p {
    display: block;
  }
#access:checked ~ p {
    display: block;
  }
  .image:hover .service{
 height: 100%;
  
}
.images:hover .service{
  height: 30%;
   
 }

.scale_transition{
  animation: leaves 1s ease-in-out infinite alternate;

 
}
@keyframes leaves {
  0% {
      transform: scale(1.0);
      
  }
  100% {
      transform: scale(1.1);
      
  }
}

.boxes:hover .image-icon{
  margin-top: 8px;
}
.our_solution:hover .icon{
  
  margin-top: -20px;
}